apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: testing
  namespace: argo
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
  sources:
    - repoURL: https://github.com/jesusmonda/testing.git
      targetRevision: main
      path: /
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ApplyOutOfSyncOnly=true
    retry:
      limit: 2
      backoff:
        duration: 5s
        maxDuration: 3m0s
        factor: 2